body    {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; }
    h1 {
        color: #333;
        text-align: center;
        margin-top: 20px;
    }
    form {
        background: #fff;
        padding: 20px;
        margin: 20px auto;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        max-width: 400px;
    }
    h2 {color: #333;
        text-align: center;
        margin-top: 20px;}
    input[type="text"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    button {
        width: 100%;
        padding: 10px;
        background: #2113df;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }   button:hover {
        background: #218838;
    }   ul {
        list-style-type: none;
        padding: 0;
        max-width: 400px;
        margin: 0 auto;
    }   li {
        background: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }                   
